* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;

    background: rgb(220, 220, 220);
    font-size: 30px;
}

.header-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.header {
    width: 600px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.header-spacer-container {
    float: left;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

#header-spacer {
    text-align: center;
    padding-left: 10px;
    max-width: 200px;
}

.complete-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    float: right;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.grid-left {
    text-align: right;
    font-size: 30px;
}

.grid-middle {
    text-align: left;
    font-size: 30px;
    padding-right: 6px;
    font-feature-settings: "tnum";
}

.grid-right {
    text-align: left;
    font-size: 30px;
    padding-right: 12px;
}

.simulation-canvas {
    background: rgb(220, 220, 220);
    height: 500px;
    width: 500px;
}

.control-button-container {
    display: grid;
    width: auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    font-size: 30px;
}

.control-button {
    margin-top: 10px;
    background: rgb(10, 132, 255);
    border-radius: 8px;
    color: white;
    width: 200px;
    font-size: 18px;
    border-style: none;
    padding: 5px;
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
}

.options-header {
    margin: 10px;
    padding: 0;
    border: 0;
}

.options-text {
    margin: 0 10px;
    padding: 0;
    border: 0;
}

#failure-text {
    margin: 10px;
    padding: 0 10px;
    border: 0;
}

.options-slider {
    margin: 10px 5px;
    padding: 0;
    border: 0;
    width: 200px;
}

.options-spacer {
    margin: 0;
    padding: 0;
    border: 0;
    height: 30px;
    width: 500px;
}

.integer-change-button-container {
    display: grid;
    width: auto;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
}

.integer-change-button-container-2 {
    display: grid;
    width: auto;
    grid-template-columns: auto auto auto auto auto auto auto;
    align-items: center;
}

.integer-change-button {
    margin: 10px 5px;
    background: rgb(10, 132, 255);
    border-radius: 20px;
    color: white;
    height: 40px;
    width: 40px;
    font-size: 18px;
    border-style: none;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .header {
        width: 100vw;
    }
}

@media only screen and (max-width: 550px) {
    .body {
        font-size: 5.4545454545455vw;
    }

    .header-spacer {
        max-width: 36.36363636364vw;
    }

    .grid-left {
        font-size: 5.4545454545455vw;
    }

    .grid-middle {
        font-size: 5.4545454545455vw;
        padding-right: 0.90909090909091vw;
    }

    .grid-right {
        font-size: 5.4545454545455vw;
    }

    .control-button-container {
        font-size: 5.4545454545455vw;
    }

    .control-button {
        border-radius: 1.4545454545455vw;
        width: 36.36363636364vw;
        font-size: 3.2727272727273vw;
        padding: 5px 0.90909090909091vw;
    }

    .options-container {
        font-size: 5.4545454545455vw;
    }

    .options-header {
        margin: 10px 1.81818181818182vw;
    }

    .options-text {
        font-size: 5.4545454545455vw;
    }

    #failure-text {
        margin: 10px 1.81818181818182vw;
        padding: 0 1.81818181818182vw;
    }

    .options-slider {
        margin: 10px 0.90909090909091vw;
        width: 36.36363636364vw;
    }

    .options-spacer {
        width: 100vw;
    }

    .integer-change-button {
        margin: 10px 0.90909090909091vw;
        border-radius: 3.636363636364vw;
        height: 7.2727272727273vw;
        width: 7.2727272727273vw;
        font-size: 3.2727272727273vw;
    }

    .simulation-canvas {
        width: 90.90909090909091vw;
        height: 90.90909090909091vw;
    }
}
